# Ignore all .png files
*.png

# Ignore all .zip files
*.zip
*.pth
*.out
._pycache_

# Ignore macOS specific files and folders
.DS_Store
.AppleDouble
.LSOverride
._*
.txt

# Ignore macOS temporary files
.Spotlight-V100
.Trashes
.AppleDB
Thumbs.db

# Ignore macOS system folders
__MACOSX/

# Ignore data folder and its contents
Denoising/data/SIDD_Small_sRGB_Only

# Ignore wandb logs
wandb/
Denoising/data/real_Test
__pycache__/learnable_denoising_v2.cpython-39.pyc
process_test.py
real_test_denoise_results/metrics.txt
